# Database connection URL
DATABASE_URL="mongodb://localhost:27017/book-recommendation-web-app"

# GraphQL Yoga server port
GRAPHQL_PORT=4000

# Apollo Client endpoint URL
APOLLO_CLIENT_ENDPOINT="http://localhost:4000/graphql"

# JWT secret key
JWT_SECRET="your-secret-key-here"